.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px 10px;
}

.center {
  text-align: center;
  display: block;
  margin: 10px 0 20px 0;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
